.active {
    font-weight: 700;
}
.navbar-expand-lg .navbar-collapse {
    justify-content: end;
}
.navbar-brand {
    // font-family: ;
}
.header-cart-image {
    width: 100px;
    height: 100px;
}
.drop-down-box {
    width: 20em;
}
// .navbar-container {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100%;
// }