@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
main {
  min-height: 50vh;
  margin: 2em;
}
.center-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
h1 {
  text-align: center;
}