.category-box {
  border-radius: 15px;
  border: #2a2e2f 1px solid;
  position: sticky;
  top: 100px;
  height: 500px;
  & ul {
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    & li {
      font-weight: 500;
      cursor: pointer;
    }
  }
}
